* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

body {
    background-color: #f8f9fa;
}

nav {
    background-color: #dee2e6;
    display: flex;
    padding: 1rem 2rem;
    border-bottom: 1px solid #adb5bd;
}

.back {
    font-size: 1.2rem;
}

.back img {
    width: 1.2rem;
    margin-bottom: -0.3rem;
    margin-right: 0.3rem;
}

nav a {
    text-decoration: none;
    color: black;
}

.container {
    display: flex;
    justify-content: center;
    margin: 3rem 0 0 0;
}

.content {
    background-color: #e9ecef;
    width: 50%;
    display: flex;
    justify-content: center;
    border-radius: 0.8rem;
    padding: 3rem 0rem;
}

.logo {
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    /* border-radius: 50%; */
    /* padding: 2rem; */
    margin-bottom: 2rem;
}

.logo img {
    width: 10rem;
}

/* .user-info {
    background-color: red;
} */

.name {
    margin: 1rem 0rem;
    font-size: 1.2rem;
    background-color: #adb5bd;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.name-txt {
    font-size: 0.8rem;
    color: #495057;
}

.email {
    margin: 1rem 0rem;
    font-size: 1.2rem;
    background-color: #adb5bd;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.email-txt {
    font-size: 0.8rem;
    color: #495057;
}

.footer {
    display: flex;
    justify-content: center;
    margin: 0.5rem 0 0 0;
}

.content-footer {
    display: flex;
    flex-wrap: wrap;
    /* background-color: red; */
    width: 50%;
    justify-content: space-evenly;
}
.content-footer a {
    text-decoration: none;
}

.content-footer .update {
    padding: 1rem;
    text-align: center;
    width: 40%;
    background-color: #004e89;
    border-radius: 0.5rem;
    color: white;
    margin-bottom: 1rem;
}

.content-footer .update a {
    color: white;
    text-decoration: none;
}

.content-footer .logout {
    padding: 1rem;
    text-align: center;
    width: 40%;
    background-color: #f35b04;
    border-radius: 0.5rem;
    color: white;
    margin-bottom: 1rem;
}
